extends ../layouts/default

block content
	.container
		section#body-header
			h1#body-header-title La Husassistenten ta seg av huset og få tid til det du har lyst til
		
		section#values
			.row
				.col-sm-12.col-md-4
					h2 Pålitelig
					p Vi leverer godt og skånsomt håndverk for at du skal få det fint i hjemmet. Sømløst og brukervennlig. Våre Husassistenten kan du stole på.
				.col-sm-12.col-md-4
					h2 Frigjørende
					p Vi tar oss av arbeidet du helst vil slippe slik at du får mer tid til det du har lyst til. Vi tilrettelegger tjenestene våre etter dine behov.
				.col-sm-12.col-md-4
					h2 Stuerent
					p Kom hjem til drømmehuset. Vi tilbyr hvite, ordnede arbeidsforhold for deg og våre husassistenter. 
		
		//-section#call-to-action
			.row
				.col-sm-12
					h2 Prøv i dag og få 20% avslag den første måneden!
					button.btn.btn-default Bestill
		
